body { direction: rtl; text-align:justify;  font-family:'Nazli', Geneva, sans-serif; font-size: 1.1em;}
div.sidebar { float: left !important; }

/* The next 3 rules are very useful in documents containing pieces
of code in english */
/* Use this if you all your literal blocks (::) are LTR */
pre {direction: ltr; unicode-bidi: embed; }
/* Use this if you all your inline literals (``) are LTR */
tt {direction: ltr; unicode-bidi: embed; }
/* Use this if you all your interpretted text (`) is LTR */
cite {direction: ltr; unicode-bidi: embed; }

/* Allow manual direction override by class directive and roles */
.rtl { direction: rtl; }
.ltr { direction: ltr; }
.center {text-align: center; align:center;   margin-left: auto;  margin-right: auto;}
/*.center {display: block; text-align: center;    margin-left: auto; margin-right: auto;}*/
.toc-backref{font-size: 1em;}
.section h1{font-size: 1.3em;}
.section h2{font-size: 1.3em;}
ol {padding:8px; margin: 8px;}
ol > li {padding:0; margin: 0; list-style-type: persian;}
.forgroundcolorred {color: red;}
  @font-face {
    font-family: 'zantrokeregular';
    src: url('fonts/zantroke-webfont.woff2') format('woff2'),
         url('fonts/zantroke-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.tableheaderwithgraybackground th {
  /*border: 1px solid black;*/
  font-weight: bold;
  background-color: lightgray; /* #BFBFBF; */
  print-color-adjust: economy;
}
.table-without-border-class, .table-without-border-class *{
  border: none;
}
h1, h2, h3{text-align: center;}

@font-face {
  font-family: 'Nastaliq';
  src: url('assets/IranNastaliq-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
table.smallerelementwithfullborder, table.smallerelementwithfullborder tr, table.smallerelementwithfullborder td, table.smallerelementwithfullborder th {
    border: 1px solid black;
    font-family: Nastaliq;
}

@media print {
  @page {
	size: landscape; /*portrait;*/
  }   
  h1 {break-before: always;} 
  print-color-adjust: economy;

  .tableheaderwithgraybackground th {
      font-weight: bold;
      background-color: lightgray;
      print-color-adjust: economy;
  }
}

/*
https://github.com/mstensho/page-orientation
https://stackoverflow.com/questions/4013701/select-all-tr-except-the-first-one
*/
